
  ::ng-deep .p-dropdown-label {
    padding: 8px;
  }

  .dropdown input{
    padding: 0.8em;
  }

  .vip{
    margin-top: 0.0em !important;
    width: 2.6em;
    height:2.6em;
    border: 1px solid #dee2e6 !important;
  }