@import "src/assets/styles/variables";
@import "src/assets/styles/buttons";

.crm-button-small-navigation {
  height:2.5rem;
  @include colored-button($crm-action-color, $navigation-color, $crm-action-color);
  .element-style {
    max-width: 18rem;
    min-width: 10rem;
    height:2.5rem;
    margin-bottom: 3px;
  }
}


