// SCSS for table styling
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    max-width: 8rem;
    padding: 5px;
  }
  .cancel-button{
    background-color: red!important;
  }

